.navbar{
    font-family: "Roboto", sans-serif;
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 1;
    font-size: 2rem;
    padding: 20px 20px;
    background-color: #011342b3; 
    backdrop-filter: blur(10px);
    z-index: 1;

    ul {
        padding-left: 300px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        margin-right: 5rem;
        align-items: center;
        gap: 20px
        ;
    }

}

.anav {    
    font-size: 2.5rem;
    font-weight: 350;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(133, 121, 14);
    margin: 20px;
    border: 10px;
    padding: 10px 15px;
}
.anav:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(133, 121, 14);
    border-radius: 5px;
}


.logonav {
    top: 3rem;
    position: fixed;
    width: 200px; 
    height: auto; 
    z-index: 1;
}

.logonavmini {
    background-color: red;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
display: none;
.ulmenu {
    font-size: 2.5rem;
    font-weight: 350;
    font-family: "Roboto", sans-serif;
    
    margin: 20px;
    border: 10px;
    padding: 10px 15px;

    a{
    color: rgb(133, 121, 14);
    text-decoration: none;
    background-color: #010a20be; 
    margin: 20px;
    border: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    }

    a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(133, 121, 14);
        border-radius: 5px;
    }

}
}  

/* Media query */

@media (max-width: 1431px) {
    .navbar{
        font-family: "Roboto", sans-serif;
        position: fixed; 
        top: 0px; 
        width: 100%; 
        z-index: 1;
        font-size: 2rem;
        padding: 10px 10px;
        background-color: #011342b3; 
        backdrop-filter: blur(10px);
    
        ul {
            padding-left: 0px;
            padding-top: 50px;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin-right: 5rem;
            align-items: center;
            gap: 20px
            ;
        }
    
    }
    }


@media (max-width: 768px) {

    .navbar {

        width: 100%; 
        height: 80px;
        padding: 20px 20px;

        ul {
        display: none;  
        } 

    }

    .hamburger {
        display: flex; 
        justify-content: right;
        padding-right: 70px;
        font-size: 5rem;
        color: rgb(133, 121, 14);
        z-index: 999;
    }

    .logonav {
        top: 5px;
        padding-left: 40px;
        width: 80px;
        height: auto;
    }

    .menu {
        display: flex;
        position: fixed;
        top: -500%; /* Fuera de la vista inicialmente (desde arriba) */
        left: 0;
        width: 100%;
        height: 400px;
        background-color: #011342b3;
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        justify-content: start;
        padding-top: 50px;
        transition: top 0.3s ease; /* Animación para el despliegue desde arriba */
        z-index: 1000; /* Asegura que esté sobre el contenido */

        .ulmenu{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            top: 0px;
            gap: 10px;
            
            li {
             /* background-color: red; */
             /* width: 80%; */
             align-items: center; 
            } 

            a {
            display: flex;
            margin: 0px;
            gap: 30px; 
            justify-content: center;
            }
        }
    }
    
    /* Cuando el menú está activo */
    .menu.active {
        display: flex; /* Cambia a display: flex para que se muestre */
        position: fixed;
        top: 119px; /* Ajusta la posición para que no se solape con el navbar */
        left: 0;
        width: 100%;
        height: 500px; /* Ajusta la altura según el contenido */
        background-color: #011342b3;
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        justify-content: flex-start;
        padding-top: 50px;
        transition: top 0.3s ease; /* Animación para el despliegue */
        z-index: 1000;
    }
}