body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.content {
    text-align: center;
}

/* Estilo de la capa overlay (con el blur) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Caja del formulario */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.h2overlay{
    color: rgb(0, 83, 14);
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #199600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #116400;
}


/* Estilo del overlay */
.overlay {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 999; /* Asegúrate de que el overlay esté encima del contenido */
}

/* Estilo del popup */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000; /* Asegura que el popup esté encima del overlay */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para el formulario */
.form-container {
    position: relative;
    z-index: 1; /* Asegura que el formulario quede por debajo del popup */
}
